<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contact_us.css') }}">


</head>

<body>
     <div class="background_image"></div>
     <div class="full_page">
         <div class="text">
             <header>Contact Us</header>
             <main>
                 Feel free to contact  us through our gmail ids:
                 <ol>
                     <li>Shreyansh (Machine learning) : <br> &nbsp Email :- kshreyansh2005@gmail.com<br></li><br>
                     <li>Aaryan yadav (Frontend) : <br> &nbsp Email :- aaryanyd2021@gmail.com<br> </li><br>
                     <li>Satyam Gautam (Backend & convex) : <br> &nbsp Email :- satyam24034@gmail.com<br> </li><br>
                    </ol>
                </main>
            </div>
        </div>
        </body>
</html>