<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='how_to_play.css') }}">

</head>

<body>
     <div class="background_image"></div>
     <div class="text">
        <header>How to Play</header>
        <main>
            Here is a quick guide on how to use SENTI.<br><br>
            Step 1. Click the play button on the home page.<br>
            Step 2. Enter your text in the text box and then click the start button.<br>
            Step 3. SENTI analyzes the text and tells you the sentiment/mood of the text.<br> 
            Step 4. If your satisfied with the output, press YES, otherwise press NO , providing us with valuable feedback for further improving our Model.
        </main>
        </div>
</body>
</html>